# Lab 03 - Extended Exercises on Mixed Models

We recommend using Noto for this lecture tutorial, where we've already installed the dependencies of the pymer4 package and statsmodels.

In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split

# Import the linear regression model class
from pymer4.models import Lm

# Import the lmm model class
from pymer4.models import Lmer

# Import Gaussian modeling
import statsmodels.formula.api as smf

import scipy as sp
from scipy import stats

# Data directory
DATA_DIR = "./../../data/"

In [2]:
import requests

exec(requests.get("https://courdier.pythonanywhere.com/get-send-code").content)

npt_config = {
    'session_name': 'lab-03',
    'session_owner': 'mlbd',
    'sender_name': input("Your name: "),
}

Your name:  ad

## Introduction
The data has already been cleaned and it comes from 29 students in 3 different groups in a course of 26 weeks.

In this lab you will explore different models to explain the quiz grade.

In [3]:
# Load data
df= pd.read_csv(f'{DATA_DIR}grades_in_time.csv.gz')
send(len(df),0)
df.head()

   student  week  studying_hours  group  quiz_grade
0        0     0            39.9      3         6.1
1        0     1            32.4      3         7.0
2        0     2            17.5      3         6.9
3        0     3            16.0      3         7.0
4        0     4            15.9      3         7.2

In [4]:
df.describe(include='all')

          student        week  studying_hours       group  quiz_grade
count  810.000000  810.000000      810.000000  810.000000  810.000000
mean    14.500000   13.000000       10.050617    1.933333    6.931975
std      8.660789    7.793693        8.270041    0.772199    1.336888
min      0.000000    0.000000        1.000000    1.000000    1.200000
25%      7.000000    6.000000        5.700000    1.000000    6.400000
50%     14.500000   13.000000        7.800000    2.000000    7.200000
75%     22.000000   20.000000       11.100000    3.000000    7.800000
max     29.000000   26.000000       64.000000    3.000000   10.100000

# Task 1: Linear Model
----------
### 1.1 Preprocess the data to run a regression model to explain the effect of studying hours on quiz grade.

In [35]:
df_copy = df.copy()
df_copy = df_copy.sort_values(by=['student', 'week']).reset_index(drop=True)
df_copy = df_copy.groupby(by=['student']).mean()
df_byuser = df_copy.loc[:, ['studying_hours', 'quiz_grade', 'group']]
display(df_byuser)

         studying_hours  quiz_grade  group
student
0              8.688889    7.059259    3.0
1             11.081481    7.381481    3.0
2              7.103704    7.355556    2.0
3              5.477778    7.088889    2.0
4              8.214815    7.300000    1.0
5              8.329630    7.507407    2.0
6             13.740741    7.570370    1.0
7             13.725926    7.662963    3.0
8             11.548148    7.670370    3.0
9              6.640741    7.288889    2.0
10            10.188889    6.577778    2.0
11            12.618519    6.588889    1.0
12             8.070370    6.388889    2.0
13            15.770370    6.525926    3.0
14            18.233333    6.759259    1.0
15            11.692593    6.248148    1.0
16            10.840741    6.074074    1.0
17             6.540741    5.833333    1.0
18             5.959259    6.059259    2.0
19            13.088889    6.525926    1.0
20            11.485185    7.159259    1.0
21            10.914815    7.340741    2.0
22             6.481481    6.829630    2.0
23             5.877778    6.762963    2.0
24             7.966667    6.766667    3.0
25             9.203704    6.885185    3.0
26            12.859259    7.311111    3.0
27            12.311111    7.233333    1.0
28             7.481481    7.000000    2.0
29             9.381481    7.203704    2.0

In [36]:
df_train, df_test = train_test_split(df_byuser, test_size=0.2, random_state=0)

### 1.2 Explain your preprocessing steps

In [5]:
answer = """
Your answer here.
"""

send(answer, 12)

### 1.3 Run a regression model to explain the effect of studying hours on quiz grade.

In [37]:
model_str = "quiz_grade ~ studying_hours"
#send(model_str, 13)
# Add the data and family
model = Lm(model_str, data=df_train, family='gaussian')

# Fit the models
print(model.fit())

Formula: quiz_grade~studying_hours

Family: gaussian	 Estimator: OLS

Std-errors: non-robust	CIs: standard 95%	Inference: parametric

Number of observations: 24	 R^2: 0.046	 R^2_adj: 0.003

Log-likelihood: -17.866 	 AIC: 39.732	 BIC: 42.088

Fixed effects:

                Estimate  2.5_ci  97.5_ci     SE  DF  T-stat  P-val  Sig
Intercept          6.572   5.809    7.335  0.368  22  17.865  0.000  ***
studying_hours     0.036  -0.037    0.109  0.035  22   1.030  0.314

### 1.4 What model family (poisson, logistic, etc) did you use and why?

In [6]:
answer = """
Your answer here.
"""

send(answer, 14)

### 1.5 Interpret the regression results. 
Do the variables have a positive or negative effect? Is it significant?

In [19]:
answer = """
Your answer here.
"""

send(answer, 15)

### 1.6 Is this an appropriate method? Explain why or why not.

In [20]:
answer = """
Your answer here.
"""

send(answer, 16)

# Task 2: Linear Model with Fixed Effects
----------
### 2.1  Run a regression model to explain the effect of studying hours on quiz grade. Add fixed effects for group.

In [40]:
model_str = "quiz_grade ~  studying_hours + group"
#send(model_str, 21)
# Add the data and family
model = Lm(model_str, data=df_train, family= 'gaussian')

# Fit the models
print(model.fit())

Formula: quiz_grade~studying_hours+group

Family: gaussian	 Estimator: OLS

Std-errors: non-robust	CIs: standard 95%	Inference: parametric

Number of observations: 24	 R^2: 0.290	 R^2_adj: 0.223

Log-likelihood: -14.313 	 AIC: 34.627	 BIC: 38.161

Fixed effects:

                Estimate  2.5_ci  97.5_ci     SE  DF  T-stat  P-val  Sig
Intercept          5.724   4.783    6.666  0.453  21  12.650  0.000  ***
studying_hours     0.058  -0.008    0.125  0.032  21   1.817  0.084    .
group              0.350   0.079    0.620  0.130  21   2.690  0.014    *

### 2.2 Interpret the regression results. 
What changed? What does it mean to have group fixed effects?

In [128]:
answer = """
Your answer here.
"""

send(answer, 22)

# Task 3: Linear Model with Random Effects
----------
### 3.1  Run a regression model to explain the effect of studying hours on quiz grade. Add random intercept for group.

In [49]:
model_str = "quiz_grade ~  (1|group) + studying_hours"
#send(model_str, 31)
# Add the data and family
model = Lmer(model_str, data=df_train, family='gaussian' )

# Fit the models
print(model.fit())

Formula: quiz_grade~(1|group)+studying_hours

Family: gaussian	 Inference: parametric

Number of observations: 24	 Groups: {'group': 3.0}

Log-likelihood: -20.300 	 AIC: 40.601

Random effects:

                 Name    Var    Std
group     (Intercept)  0.105  0.324
Residual               0.222  0.472

No random effect correlations specified

Fixed effects:

                Estimate  2.5_ci  97.5_ci     SE      DF  T-stat  P-val  Sig
(Intercept)        6.291   5.428    7.153  0.440  12.309  14.293  0.000  ***
studying_hours     0.069  -0.006    0.144  0.038  21.542   1.797  0.086    .

### 3.2 Plot the regression lines
Hint: You may use model.plot

### 3.3  Run a regression model to explain the effect of studying hours on quiz grade. Add slope for group.

In [48]:
model_str = "quiz_grade ~ (0 + studying_hours|group)"
#send(model_str, 33)
# Add the data and family
model = Lmer(model_str, data=df_train, family='gaussian' )

# Fit the models
print(model.fit())

Formula: quiz_grade~(0+studying_hours|group)

Family: gaussian	 Inference: parametric

Number of observations: 24	 Groups: {'group': 3.0}

Log-likelihood: -19.375 	 AIC: 38.750

Random effects:

                    Name    Var    Std
group     studying_hours  0.000  0.021
Residual                  0.253  0.503

No random effect correlations specified

Fixed effects:

             Estimate  2.5_ci  97.5_ci     SE     DF  T-stat  P-val  Sig
(Intercept)     6.913   6.608    7.217  0.156  1.905  44.443  0.001  ***

### 3.4 Plot the regression lines
Hint: You may use model.ranef

### 3.5  Run a regression model to explain the effect of studying hours on quiz grade. Add random intercept and slope for group.

In [51]:
model_str = "quiz_grade ~ (0 + studying_hours|group)"
#send(model_str, 35)
# Add the data and family
model = Lmer(model_str, data=df_train, family='gaussian' )

# Fit the models
print(model.fit())

Formula: quiz_grade~(0+studying_hours|group)

Family: gaussian	 Inference: parametric

Number of observations: 24	 Groups: {'group': 3.0}

Log-likelihood: -19.375 	 AIC: 38.750

Random effects:

                    Name    Var    Std
group     studying_hours  0.000  0.021
Residual                  0.253  0.503

No random effect correlations specified

Fixed effects:

             Estimate  2.5_ci  97.5_ci     SE     DF  T-stat  P-val  Sig
(Intercept)     6.913   6.608    7.217  0.156  1.905  44.443  0.001  ***

### 3.6 Plot the regression lines

### 3.7 Interpret the regression results. 
What changed? What does it mean to have group random effects?

In [230]:
answer = """
Your answer here. 
"""

send(answer, 37)

# Task 4: Mixed Model with Time Interaction 
----------
### 4.1  Lastly, run a regression model to explain the effect of studying hours on quiz grade. Add random intercept and slope for groups AND interaction between the number of stuyding hours and time (weeks).

In [ ]:
model_str = """Write your model here """
send(model_str, 41)
# Add the data and family
model = Lmer(model_str, data=, family= )

# Fit the models
print(model.fit())

### 4.2 Interpret the regression results.

In [38]:
answer = """
Your answer here.
"""

send(answer, 42)